.App {
    font-family: sans-serif;
    max-width: 500px;
  }
  
  .section {
    padding: 10px;
    border: 1px solid purple;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 5px;
    justify-content: center;
  }
  
  label,
  input {
    display: block;
  }
  label,
  button {
    margin-top: 1rem;
  }
  